<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.dao.GoodMapper">

	<select id="getGoodById" resultMap="FindGood" parameterType="com.hand.dto.Good">
		select * from goods t
		where t.id = #{id}
	</select>

	<resultMap type="com.hand.dto.Good" id="FindGood">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="price" column="price" />
		<result property="quantity" column="quantity" />
	</resultMap>
</mapper>